target/
logs/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.gradle
.springBeans
log*/
.gradle
localproperties
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/