<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hr.fire.inspection">
    <!-- 访问SD权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 在SDCard读取数据的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!--   从SDard读取数据权限 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 摄像头权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".utils.GreenDaoHelper"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.xfspActivity"></activity>
        <activity android:name=".activity.XJFireWaterActivity" />
        <activity
            android:name=".activity.CheckReport"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.CheckActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.FireReportActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.FireReportActivity"
            android:screenOrientation="landscape"
            tools:ignore="DuplicateActivity,LockedOrientationActivity" />

        <provider xmlns:tools="http://schemas.android.com/tools"
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.hr.fire.inspection.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:ignore="RedundantNamespace"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activity.PhotoUploadActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RoutingInspectionActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.FireActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.SystemTagProtectionAreaActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.NavigationActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ChooseCompanyActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.CompanyOperationActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.CompanyInsertActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.OilFieldActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.OilOperationActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.OilInsertActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.PlatformActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.PlatformOperationActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.PlatformInsertActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.InspectionActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.RuleContentActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.RulesActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.CarbonDioxideAcitivty"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.CarBonGoodsWeightAcitivty"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.HFCActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.CarbondioxideRecordAcitivty"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.AutomaticFireAlarmAcitivty"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.SeawaterSystemActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.NjKitchenAcitivty"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.FoamFireActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.NjFireFightingWaterAcitivty"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.DFXIAcitivty"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.NjKitchenChecklistAcitivty"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.QRCodeExistenceAcitivty"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.DryPowderFireSystemActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.CheckHomeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.CheckActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.FilesCheckActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.HiddenLibaryActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.HiddenLibaryDetailActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.StatiSticsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.XJFireExtinguisherActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.XJGasFireSystem"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.XJFireDamperActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.XJDelugeValveActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.XJFireHoseStationActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.XJFAGPActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.XJFAGMActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.XJFFESActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.XJWaterHose"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.XJKitchenWetPowder"

            android:screenOrientation="landscape" />
    </application>

</manifest>